/*-----------------------------------*\
  #WAVE ANIMATION
\*-----------------------------------*/

.waves-container {
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
    margin-bottom: -1px;
    background-color: var(--cultured);
}

.waves {
    width: 100%;
    height: 100%;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }

    100% {
        transform: translate3d(85px, 0, 0);
    }
}

/* Update Footer to accommodate wave */
/* Update Footer to accommodate wave */
.footer {
    padding-block-start: 0;
}

.footer .container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.footer.active .container {
    opacity: 1;
    transform: translateY(0);
}

/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: var(--theme-color);
    color: var(--white);
    padding: 15px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.back-to-top.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}

.back-to-top:hover {
    background-color: var(--black);
}